.weather-breakdown {
  font-size: 12px;
  text-align: right;
  margin: 10px 10px;
}
li {
  list-style-type: none;
}

h1 {
  color: #ff7f50;
  font-weight: regular 400;
}

h2 {
  color: #bde4f4;
}
.units {
  position: relative;
  top: -15px;
  font-size: 12px;
}

a {
  text-decoration: none;
  color: #404969;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.current-conditions {
  text-align: center;
  color: #bde4f4;
}

.row {
  text-align: center;
  color: #404969;
  background-color: #e0fcff;
}
