.btn-primary {
  background-color: rgb(189, 228, 244, 0.8);
  border: transparent;
}

.date-time-conditions {
  margin-top: 10px;
  font-weight: bold;
  font-size: 12px;
  color: #404969;
}

.weather-breakdown {
  margin-top: 10px;
  font-size: 12px;
  text-align: right;
  color: #404969;
}

.search-input-conditions {
  color: #ff7f50;
}

.humidity {
  color: #ff7f50;
}

.wind {
  color: #ff7f50;
}

li {
  list-style-type: none;
}

h1 {
  color: #ff7f50;
  font-weight: 400;
  display: block;
  font-size: 35px;
  line-height: 28px;
  text-align: center;
}

h2 {
  color: #bde4f4;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
}

.weather-app {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  padding: 40px;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid #404969;
  border-radius: 5px;
}

.container {
  max-width: 600px;
}

.current-conditions {
  text-align: center;
  color: #bde4f4;
}

.weather-forecast {
  text-align: center;
  color: #404969;
  background-color: rgb(189, 228, 244, 0.65);
  border-radius: 5px;
  padding: 10px;
}

.weather-forecast-date {
  color: #404969;
  font-size: 16px;
  opacity: 0.6;
}

.weather-forecast-temperatures {
  font-size: 13px;
}

.weather-forecast-temperature-max {
  color: #404969;
}

.weather-forecast-temperature-min {
  color: #ff7f50;
  opacity: 0.6;
}

.git-link {
  color: #404969;
}
